<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="GraphSynthSettings" type="GraphSynth.globalSettings, GraphSynth, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <GraphSynthSettings workingDir="C:\Documents and Settings\Matthew Campbell\My Documents\Visual Studio 2005\Projects\GraphSynth\GraphSynth1.1.0.0\"
        outputDir="output" inputDir="input" rulesDir="rules" localHelpDir="GraphSynth\Resources\helpFiles"
        onlineHelpURL="http://www.me.utexas.edu/~adl/graphsynth/"
        maxRulesToDisplay="100" maxRulesToApply="50" numOfRuleSets="1"
        compiledparamRules="compiledParamRules.dll" defaultSeedFileName=""
        recompileRules="true" searchControllerPlayOnStart="false"
        searchControllerInMain="true" getHelpFromOnline="true" confirmEachUserChoice="true"
        defaultVerbosity="3" generationAfterNormal="Loop" generationAfterChoice="Stop"
        generationAfterCycleLimit="Stop" generationAfterNoRules="Stop"
        generationAfterTriggerRule="Stop" />
</configuration>